.form-busca {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);

  .linha-superior,
  .linha-inferior {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .linha-superior {
    mat-button-toggle,
    mat-chip-option {
      background-color: var(--mat-sys-secondary-container);
      color: var(--mat-sys-on-secondary-container);
    }
  }

  .linha-inferior {
    box-sizing: border-box;
    gap: 1rem;

    .origem-destino,
    .datas-e-botao-buscar {
      display: flex;
      min-width: 0;
      gap: 0.75rem;
      align-items: center;

      mat-form-field {
        input {
          background-color: var(--mat-sys-tertiary-container);
          color: var(--mat-sys-on-tertiary-container);
        }
      }
    }

    button.botao-buscar,
    button.botao-switch {
      margin-bottom: 1.25rem;
    }
  }
}
