.form-busca {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 15px;
  background-color: var(--mat-sys-primary-container);
  color: var(--mat-sys-on-primary-container);

  .linha-superior,
  .linha-inferior {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .linha-superior {
    mat-button-toggle,
    mat-chip-option {
      background-color: var(--mat-sys-secondary-container);
      color: var(--mat-sys-on-secondary-container);
    }
  }

  .linha-inferior {
    box-sizing: border-box;
    gap: 1rem;

    .origem-destino,
    .datas-ida-volta,
    .datas-e-botao-buscar {
      display: flex;
      gap: 0.75rem;
      min-width: 0;
      align-items: center;

      mat-form-field {
        width: 100%;
        input {
          background-color: var(--mat-sys-tertiary-container);
          color: var(--mat-sys-on-tertiary-container);
        }
      }
    }

    button.botao-buscar,
    button.botao-switch {
      margin-bottom: 1.25rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .form-busca {
    padding-bottom: 0;

    .linha-superior,
    .linha-inferior {
      flex-direction: column;

      .datas-e-botao-buscar {
        flex-direction: column;
      }

      .origem-destino,
      .datas-ida-volta {
        min-width: 0;
        width: 85vw;
        justify-content: center;
        flex-direction: column;

        button.botao-switch {
          margin-top: -1.25rem;
          margin-bottom: 0;
        }
      }
    }
  }
}

@media screen and (min-width: 500px) and (max-width: 880px) {
  .form-busca {
    padding-bottom: 0;

    .linha-superior,
    .linha-inferior {
      justify-content: center;
    }

    .linha-inferior {
      flex-direction: column;

      .datas-e-botao-buscar {
        flex-direction: column;
      }

      .origem-destino,
      .datas-ida-volta {
        min-width: 0;
        width: 80vw;
        justify-content: center;
      }

      .origem-destino {
        margin-bottom: -0.75rem;
      }

      button.botao-switch {
        margin-top: -1.25rem;
        margin-bottom: 0;
      }
    }
  }
}
