mat-card-content {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  img {
    margin: 0;
  }
  p {
    margin: 0;
  }
}

@media screen and (max-width: 940px) {
  mat-card-content {
    flex-direction: column;
  }
}
