footer {
  margin: 0;
  padding: 0;

  .imagem-banner {
    width: 100%;
  }

  .rodape {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    gap: 0.5rem;
    justify-content: space-around;
    padding: 1rem 0;

    .coluna-esquerda {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      img {
        width: 50%;
      }
    }
    .coluna-direita {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      .icones-redes-sociais {
        display: flex;
        justify-content: space-around;

        a {
          mat-icon {
            color: var(--mat-sys-tertiary);
            &:hover {
              color: var(--mat-sys-primary);
            }
          }
        }
      }
    }
  }
}
